@model PeriodicalLiterature.Web.Models.Admin.AdminViewModel

@{
    ViewBag.Title = "AdminProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="wrapper-content">
    <ul class="navigation">
        <li>Menu</li>
        <li><a>Publishers</a></li>
        <li><a href="/Contract/GetAllContracts">Contracts</a></li>
        <li><a>Contract results</a></li>
        <li><a>Editions</a></li>
    </ul>

    <div class="content">
        <h3>Profile
            <span class="edit-profile">
                @Html.ActionLink("Edit profile", "EditProfile")
            </span>
        </h3>
        <div class="profile-info-wrapper">
            <div class="profile-info-bl">
                <div class="profile-info-name"> @Html.DisplayNameFor(model => model.Id)</div>
                <div class="profile-info-text">@Html.DisplayFor(model => model.Id)</div>
            </div>
            <div class="profile-info-bl">
                <div class="profile-info-name"> @Html.DisplayNameFor(model => model.Name)</div>
                <div class="profile-info-text">@Html.DisplayFor(model => model.Name)</div>
            </div>
            <div class="profile-info-bl">
                <div class="profile-info-name"> @Html.DisplayNameFor(model => model.SecondName)</div>
                <div class="profile-info-text">@Html.DisplayFor(model => model.SecondName)</div>
            </div>
        </div>
    </div>
</div>
