@model PeriodicalLiterature.Web.Models.ViewModels.Contract.ContractDetailsViewModel
@using PeriodicalLiterature.Models.Enums

@{
    ViewBag.Title = "ContractDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="display: inline-block">Contract details</h2>
@Html.ActionLink("Edit", "EditContract", "Contract", new{contractId = Model.Id}, new{@class = "right"})

<p> <b>Status:</b>@Model.Status</p>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EditionTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EditionTitle)
        </dd>

        <dt>
            @Html.DisplayName("Publisher")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PublisherId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Language)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Language)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Periodicity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Periodicity)
        </dd>
       
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genres)
        </dt>

        <dd>
            <ul>
                @foreach (var genre in Model.Genres)
                {
                    <li>@genre</li>
                }
            </ul>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReleasePrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReleasePrice)
        </dd>

        <dt>
            @Html.DisplayName("Cover example")
        </dt>

        <dd>
            <a href="~/Storage/@Model.CoverName" target="_blank">Open</a>
        </dd>

        <dt>
            @Html.DisplayName("Edition issue example")
        </dt>

        <dd>
            <a href="~/Storage/@Model.FileName" target="_blank">Open</a>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescriptionEdition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescriptionEdition)
        </dd>

    </dl>
</div>

@if (Model.ConfirmationMessage != null)
{
    <div class="confirmation-message">
        <p>Recommendation</p>
        <p> @Model.ConfirmationMessage</p>
    </div>
}


