@model IEnumerable<PeriodicalLiterature.Web.Models.ViewModels.Contract.ContractShortDetailsViewModel>
@using PeriodicalLiterature.Models.Enums

@{
    ViewBag.Title = "Contracts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Contracts</h2>

<br/>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
           @Html.DisplayName("Publisher")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
            
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.ActionLink(item.PublisherName, "GetPublisherDetails","Publisher", new{ publisherId = item.PublisherId }, null)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.ActionLink("Details", "GetContractForConfirmation",new { contractId = item.Id })
            </td>
        </tr>
    }

</table>
